---

---

<div
  id="cursor-layer"
  class="fixed top-0 left-0 w-full h-full pointer-events-none"
>
</div>

<script>
  import { io } from "socket.io-client";

  let socket;
  const layer = document.getElementById("cursor-layer");

  const cursors = {};

  window.addEventListener("userConnected", (e) => {
    // const nombre = e.detail;
    // socket.emit("connected", nombre);
    const { nombre, color, shape, role } = e.detail;
    const socket = createSocket();
    socket.emit("join", {
      role: "client",
      nombre: nombre,
      color: color,
      shape: shape,
    });
  });

  let lastSend = 0;

  document.addEventListener("mousemove", (e) => {
    const now = Date.now();
    if (now - lastSend < 50) return;

    lastSend = now;
    //console.log("Enviando posición del cursor:", e.clientX, e.clientY);

    if (!socket || !socket.connected) return;

    socket.emit("cursor:move", {
      x: e.clientX / window.innerWidth,
      y: e.clientY / window.innerHeight,
    });
  });

  function createCursor(id, nombre, color, shape = "circle") {
    if (cursors[id]) return;

    const el = document.createElement("div");
    el.className =
      "absolute transition-transform duration-75 flex items-center gap-2";

    const dot = document.createElement("div");
    dot.style.backgroundColor = color;

    if (shape === "triangle") {
      dot.className = "w-4 h-4 rotate-45";
      dot.style.clipPath = "polygon(50% 0%, 0% 100%, 100% 100%)";
    } else if (shape === "rectangle") {
      dot.className = "w-4 h-2 rounded-sm";
    } else {
      dot.className = "w-3 h-3 rounded-full";
    }

    const label = document.createElement("span");
    label.className = "text-xs font-medium";
    label.textContent = nombre;
    label.style.color = color;

    el.appendChild(dot);
    el.appendChild(label);

    layer.appendChild(el);
    cursors[id] = el;
  }

  function createSocket() {
    if (socket) return socket;

    socket = io("http://localhost:3000");
    window.socket = socket;
    window.dispatchEvent(new CustomEvent("socketReady", { detail: socket }));

    socket.on("connect", () => {
      console.log("Conectado al servidor con ID:", socket.id);
    });

    socket.on("cursor:move", ({ id, x, y }) => {
      const cursor = cursors[id];
      if (!cursor) return;

      cursor.style.transform = `translate(${x * window.innerWidth}px, ${y * window.innerHeight}px)`;
    });

    socket.on("user:connected", ({ id, nombre, color, shape }) => {
      createCursor(id, nombre, color, shape);
    });

    socket.on("users:init", (users) => {
      console.log("INIT", users);

      Object.entries(users).forEach(([id, user]) => {
        createCursor(id, user.nombre, user.color, user.shape);
      });
    });

    socket.on("user:remove", (id) => {
      const cursor = cursors[id];
      if (cursor) {
        cursor.remove();
        delete cursors[id];
      }
    });

    return socket;
  }
</script>
